.comment-container {
    position: relative;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-right: 30px;
    padding: 5px;
    min-height: 40%;
}

.comment-content {
    margin: 5px 5px 70px;
    padding-right: 100px;

}

.comment-footer {
    margin: 5px;
}